body{
font-family: 'Montserrat', sans-serif !important;
font-family: 'Oswald', sans-serif !important;
font-family: 'Plus Jakarta Sans', sans-serif !important;
font-family: 'Poppins', sans-serif !important;
font-family: 'Roboto Condensed', sans-serif !important;
display: flex;
flex-direction: column;
min-height: 100vh;
}
.container{
  flex:1;
}
.navbar{
 height: 5remc;
 background-color: white;
}
.fa-compass{
 color: #fe424d;
 font-size: 2rem;
}
.nav-link{
 color: #222222 !important;
}
.f-info{
    display: flex;
   flex-direction: column;
    height: 5rem;
    background-color: #ebebeb;
    padding-top: .5rem;
    margin-top: .5rem;
}
.f-info-socials{
  width: 100%;
  text-align: center;
}
.f-info-socials i{
  margin-left: .2rem;
  font-size: 1.2rem;
}
.f-info-links{
    text-align: center;
  width: 100%;
  margin-left: .2rem;
}
.f-info-brand{
    text-align: center;
  width: 100%;
}
.f-info-links a{
 text-decoration: none;
 color: #222222;
}
.f-info-links a:hover{
 text-decoration: underline;
}
.listing-card{
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top{
  border-radius: 1rem !important; 
  width: 100% !important;
  object-fit: cover !important;
}
.card-body{
  padding: 0 !important;
}

.listing-link{
  text-decoration: none;
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: .2;
  background-color: white;
}
.addbtn{
  background-color: #fe424d;
  border: none !important;
  color: white;
}
.addbtn:hover{
 opacity: 0.2;
}
.main{
display: flex;
}
.main img{
  border-radius: 4rem;
  margin-top: 1rem;
}
.card{
  padding: 1rem !important;
  margin-bottom: .5rem !important;
}
.card-title{
  font-size: 50px;
  font-weight: 700;
  margin-left: 2rem;
}
.card-details-2{
 font-size: 20px;
 font-weight: 500;
}
.button{
  display: flex;
  margin-top: 1rem;
}
.button-2{
  margin-left: 1.5rem;
}
.review{
  margin-left: 1.5rem;
}
.review-btn{
  margin-top: 1rem;
  margin-left: .5rem;
  font-size: 20px;
}

.review-section {
  padding: 15px;
}

.review-section h5 {
  margin-bottom: 5px;
}

.review-section .card-text {
  margin-bottom: 0;
}