body{
    text-align: center;
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h3{
    color: aliceblue;
}
.btn{
    height: 150px;
    width: 180px;
    border-radius: 15%;
    border: 5px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.btn1{
    background-color: lightpink;
}
.btn2{
    background-color: lightskyblue;
}
.btn3{
    background-color: lightgreen;
}
.btn4{
    background-color: burlywood;
}
.flash{
    background-color: white;
}